POSTGRES_DB=flowstate_planner
POSTGRES_USER=flowstate
POSTGRES_PASSWORD=flowstate_dev_password
CONNECTIONSTRINGS__POSTGRES=Host=localhost;Port=5432;Database=flowstate_planner;Username=flowstate;Password=flowstate_dev_password
